
---
layout: post
slug: "photos"
title: "相册 && 视频"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">Photos</a>
	<a class="photos-btn active" href="/photos/video.html">Videos</a>
</div>
<center><h1>吉他指弹</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://video.tudou.com/v/XMTc4NzY5NjY1Mg==.html?__fr=oldtd" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>


